<form class="form-horizontal">
  <div class="form-group">
  <label for="inputname" class="col-sm-2 control-label"><h3><b>Customer's List</b></h3></label>
  </div>
  </form>
<br>
<div class="container">
              
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Id </th>
          <th>Phone</th>
          <th>Current Outstanding</th>
          <th>Total Billed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payinfo of details" 
        (click)="onSelection(payinfo)" [routerLink]="['/customer/'+payinfo.customerId]"
        >
          <td>{{payinfo.customerName}}</td>
          <td>{{payinfo.customerId}}</td>
          <td>{{payinfo.phone}}</td>
          <td>{{payinfo.currentOutstanding}}</td>
            <td>{{payinfo.totalBilled}}</td>
    </tr>
      </tbody>
    </table>
  </div>

  
  <!-- <app-customer-detail [customerId]="selectCustomer?.customerId"></app-customer-detail> -->