

<div class="container-fluid">
    <div class="row">
<div class="col-sm-3 col-md-6 col-lg-4">
<label><h4><span class="label label-primary">Customer Name</span></h4></label><br>
<input [(ngModel)]="customerinfo.customer_name" placeholder="enter name" required #name="ngModel">


</div></div>
<br>

<div class="form-group">
    <div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4">
    <label for="Type"><h4><span class="label label-primary">Type</span></h4></label>
    <select class="form-control" id="Type"
            required
            [(ngModel)]="customerinfo.type" name="type"
            #mode="ngModel">
      <option *ngFor="let pay  of Type;  let i=index"  [value]='pay.name'>{{i+1}}:{{pay.name}}</option>
    </select>
    </div>
    </div>
  </div><br>

<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4">
<label><h4><span class="label label-primary">Settled Amount</span></h4></label><br>
<input [(ngModel)]="customerinfo.settled_amount" placeholder="enter settled amount" required="settled amount required"></div></div>
<br>

<div class="row">
<div class="col-sm-3 col-md-6 col-lg-4">

<label><h4><span class="label label-primary">Amount</span></h4></label><br>
<input [(ngModel)]="customerinfo.amount" placeholder="enter amount" required="amount required"></div></div><br>

<div class="form-group">
    <div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4">
  <label for="modeofPayment"><h4><span class="label label-primary">Mode of Payment</span></h4></label>
  <select class="form-control" id="mode"
          required
          [(ngModel)]="customerinfo.mode" name="mode"
          #mode="ngModel">
    <option *ngFor="let mop of modeofPayment; let i=index" [value]='mop.name'>{{i+1}}:{{mop.name}}</option>
  </select>
    </div>
    </div>
</div><br>

<div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4">
<button (click)="submit()" class="btn active" data-toggle="modal" data-target="#myModal">Submit</button></div></div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Information</h4>
        </div>
        <div class="modal-body">
        <div class="alert alert-danger" *ngFor="let i of errors">{{i.msg}}
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>




