<form class="form-horizontal">
  <div class="form-group">
    <label for="inputname" class="col-sm-2 control-label">Customer Name</label>
    <div class="col-sm-4">
      <input [(ngModel)]="customerinfo.customer_name" name="customer-name" class="form-control"  placeholder="Customer name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputType" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-4">
      <select class="form-control" id="inputType" 
      required
      [(ngModel)]="customerinfo.type" name="type"
      #mode="ngModel">
<option *ngFor="let pay  of Type;  let i=index"  [value]='pay.name'>{{i+1}}:{{pay.name}}</option>
</select>
    </div>
  </div>
  <div class="form-group">
    
     <label for="inputSettledAmount" class="col-sm-2 control-label">Settled Amount</label>
     <div class="col-sm-4">
    <input [(ngModel)]="customerinfo.settled_amount" name="settled-amount" class="form-control" placeholder="enter settled amount" required #name="ngModel"> 
    </div>
  </div>

  <div class="form-group">
    
    <label for="inputAmount" class="col-sm-2 control-label">Amount</label>
    <div class="col-sm-4">
  <input [(ngModel)]="customerinfo.amount" name="amount" class="form-control" placeholder="enter amount" required #name="ngModel"> 
    </div>
  </div>

  <div class="form-group">
    <label for="inputMode" class="col-sm-2 control-label">Mode</label>
    <div class="col-sm-4">
      <select class="form-control" id="inputMode" 
      required
      [(ngModel)]="customerinfo.mode" name="mode"
      #mode="ngModel">
      <option *ngFor="let mop of modeofPayment; let i=index" [value]='mop.name'>{{i+1}}:{{mop.name}}</option>
    </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" (click)="submit()" class="btn active" data-toggle="modal" data-target="#myModal">Submit</button>
    </div>
  </div>
  </form>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Information</h4>
        </div>
        <div class="modal-body">
        <div class="alert alert-danger" *ngFor="let i of errors">{{i.msg}}
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>













